.head
{
	font-style: italic;
	font-size: 20px;
	font-weight: bold;

}

.ng-valid[required],.ng-valid[pattern] ,.ng-valid[minLength].ng-valid.required  {
  border: 1px solid #42A948; 
}
.ng-invalid:not(form)  {
  border: 1px solid #a94442; 
}
.even { color: red; }
.odd { color: green; }

.fade.in {
  opacity: 1;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-backdrop .fade .in {
  opacity: 0.5 !important;
}


.modal-backdrop.fade {
    opacity: 0.5 !important;
}